/* line 17, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/style.scss */
body {
  font-family: sans-serif, Arial;
}

/* line 30, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 32, ../sass/style.scss */
.b-wrapper {
  width: 1200px;
  margin: 0 auto;
}
/* line 35, ../sass/style.scss */
.b-wrapper .b-header {
  background: white;
  height: 90px;
}
/* line 38, ../sass/style.scss */
.b-wrapper .b-header .e-logo {
  float: left;
  margin: 20px 0 0 52px;
  width: 300px;
}
/* line 43, ../sass/style.scss */
.b-wrapper .b-header .b-menu-horiz {
  float: right;
  width: 562px;
}
/* line 46, ../sass/style.scss */
.b-wrapper .b-header .b-menu-horiz ul li {
  display: inline-block;
  padding-right: 20px;
}
/* line 49, ../sass/style.scss */
.b-wrapper .b-header .b-menu-horiz ul li a {
  line-height: 90px;
  color: #343434;
  font-family: sans-serif, Arial;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 53, ../sass/style.scss */
.b-wrapper .b-header .b-menu-horiz ul li a:hover {
  text-decoration: none;
  color: #929292;
}
/* line 61, ../sass/style.scss */
.b-wrapper .b-header .b-video {
  background: url(../i/b-video.png);
  background-position: top center;
  width: 1200px;
  height: 486px;
  position: relative;
}
/* line 67, ../sass/style.scss */
.b-wrapper .b-header .b-video div {
  width: 504px;
  border-bottom: 1px solid #06aded;
  padding: 45px 0 5px 0;
  margin: 0 52px;
}
/* line 72, ../sass/style.scss */
.b-wrapper .b-header .b-video div a {
  font-family: sans-serif, Arial;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #06aded;
  text-decoration: none;
}
/* line 81, ../sass/style.scss */
.b-wrapper .b-header .b-video h1 {
  font-size: 52px;
  color: white;
  margin-bottom: 20px;
}
