/* line 17, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ---------- FONT ---------- */
@font-face {
  font-family: 'OpenSansBold';
  src: url("opensans-bold.eot");
  src: url("opensans-bold.eot?#iefix") format("embedded-opentype"), url("opensans-bold.woff") format("woff"), url("opensans-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url("opensans-light.eot");
  src: url("opensans-light.eot?#iefix") format("embedded-opentype"), url("opensans-light.woff") format("woff"), url("opensans-light.ttf") format("truetype"), url("opensans-light.svg#OpenSansCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("opensans-italic.eot");
  src: url("opensans-italic.eot?#iefix") format("embedded-opentype"), url("opensans-italic.woff") format("woff"), url("opensans-italic.ttf") format("truetype");
  font-weight: normal;
}

/* line 92, ../sass/style.scss */
html {
  height: 100%;
  min-height: 100%;
}

/* line 96, ../sass/style.scss */
body {
  font-family: 'OpenSansCondensedLight';
  height: 100%;
  min-height: 100%;
}

/* line 100, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 102, ../sass/style.scss */
.b-wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
}

/* line 107, ../sass/style.scss */
.b-header {
  height: 576px;
  background: white;
}

/* line 111, ../sass/style.scss */
.i-header {
  height: 90px;
}

/* line 114, ../sass/style.scss */
.e-logo {
  float: left;
  margin: 16px 0 0 52px;
  width: 300px;
}

/* line 119, ../sass/style.scss */
.b-menu-horiz {
  float: right;
  width: 540px;
}
/* line 122, ../sass/style.scss */
.b-menu-horiz .b-info {
  height: 45px;
}
/* line 124, ../sass/style.scss */
.b-menu-horiz .b-info .b-info-e-namber {
  padding: 2px 0 3px 14px;
  background: url(../i/ico_namber.png);
  background-position: left center;
  background-repeat: no-repeat;
  color: #343434;
  font-size: 13.3px;
  line-height: 60px;
  margin-right: 12px;
}
/* line 131, ../sass/style.scss */
.b-menu-horiz .b-info .b-info-e-place {
  padding: 2px 0 3px 14px;
  background: url(../i/ico_place.png);
  background-position: left center;
  background-repeat: no-repeat;
  color: #343434;
  font-size: 13.3px;
  line-height: 60px;
}
/* line 138, ../sass/style.scss */
.b-menu-horiz .b-menu-e-list {
  height: 45px;
}
/* line 141, ../sass/style.scss */
.b-menu-horiz .e-list-item {
  display: inline-block;
  padding-right: 25px;
}
/* line 145, ../sass/style.scss */
.b-menu-horiz .e-list-item-link {
  line-height: 25px;
  color: #343434;
  font-family: 'OpenSansBold';
  font-size: 13.3px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 149, ../sass/style.scss */
.b-menu-horiz .e-list-item-link:hover {
  text-decoration: none;
  color: #929292;
}

/* line 155, ../sass/style.scss */
.b-video {
  background: url(../i/b-video.png);
  background-position: top center;
  width: 1200px;
  height: 486px;
  position: relative;
}

/* line 162, ../sass/style.scss */
.b-video-e-text {
  width: 490px;
  border-bottom: 1px solid #06aded;
  padding: 45px 0 5px 0;
  margin: 0 52px;
}

/* line 168, ../sass/style.scss */
.b-video-e-text-link {
  font-family: sans-serif, Arial;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #06aded;
  text-decoration: none;
}

/* line 176, ../sass/style.scss */
.b-video-title {
  font-size: 52px;
  color: white;
  margin-bottom: 20px;
}

/* line 181, ../sass/style.scss */
.b-batton-play {
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background: rgba(95, 95, 95, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
/* line 188, ../sass/style.scss */
.b-batton-play .i-rel-wh-all {
  width: 312px;
  height: 312px;
  position: relative;
}
/* line 191, ../sass/style.scss */
.b-batton-play .i-rel-wh-all .e-cyrcle-min {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  background: rgba(95, 95, 95, 0.45) url(../i/e-video-but.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}
/* line 202, ../sass/style.scss */
.b-batton-play .i-rel-wh-all .e-cyrcle-min:hover {
  width: 199px;
  height: 199px;
  background: rgba(95, 95, 95, 0.45) url(../i/e-video-but-hover.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}

/* line 213, ../sass/style.scss */
.b-content {
  padding-bottom: 62px;
}

/* line 217, ../sass/style.scss */
.e-title, .b-map .b-map-info .b-map-title, .b-news .b-news-title {
  color: #06aded;
  font-size: 33px;
}

/* line 222, ../sass/style.scss */
.b-type {
  padding: 45px 0;
  margin: 0 52px;
}
/* line 225, ../sass/style.scss */
.b-type .i-all-types {
  overflow: hidden;
  height: 260px;
  margin: 20px auto;
}
/* line 230, ../sass/style.scss */
.b-type .i-all-types .e-item-type {
  width: 215px;
  height: 255px;
  text-align: center;
  float: left;
  margin-right: 70px;
  background: url(../i/cyrcle.png);
  background-position: top center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 240, ../sass/style.scss */
.b-type .i-all-types .e-item-type:nth-last-child(1) {
  margin-right: 0;
}
/* line 243, ../sass/style.scss */
.b-type .i-all-types .e-item-type:hover {
  background: url(../i/cyrcle-hover.png);
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 248, ../sass/style.scss */
.b-type .i-all-types .e-item-type .e-type-text {
  text-align: center;
  width: 165px;
  margin: 20px auto 0;
}
/* line 254, ../sass/style.scss */
.b-type .i-all-types .e-item-type .e-type-text-link {
  color: #929292;
  font-family: 'OpenSansBold';
  font-size: 13.3px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 260, ../sass/style.scss */
.b-type .i-all-types .e-item-type .e-img-types {
  height: 151px;
  position: relative;
}
/* line 263, ../sass/style.scss */
.b-type .i-all-types .e-item-type .e-img-types .e-img-types-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

/* line 270, ../sass/style.scss */
.b-map {
  width: 1200px;
  height: 397px;
  background: #545454 url(../i/map_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 276, ../sass/style.scss */
.b-map .b-map-info {
  margin: 0 30px;
  width: 329px;
  height: 300px;
  padding: 10px 22px;
  border-bottom: 3px solid #06aded;
  background: white;
}
/* line 283, ../sass/style.scss */
.b-map .b-map-info .b-map-title {
  margin: 0 0 10px 0;
}

/* line 290, ../sass/style.scss */
.b-news {
  margin: 45px 52px;
}
/* line 292, ../sass/style.scss */
.b-news .b-news-title {
  margin: 10px 0 25px;
}
/* line 296, ../sass/style.scss */
.b-news .b-some-news {
  overflow: hidden;
}
/* line 298, ../sass/style.scss */
.b-news .b-some-news .b-item-news {
  width: 350px;
  float: left;
  margin-right: 23px;
}
/* line 302, ../sass/style.scss */
.b-news .b-some-news .b-item-news:nth-last-child(1) {
  margin-right: 0 !important;
}
/* line 305, ../sass/style.scss */
.b-news .b-some-news .b-item-news a {
  text-decoration: none;
}
/* line 309, ../sass/style.scss */
.b-news .b-some-news .b-item-news img {
  float: left;
  width: 71px;
  border-radius: 70%;
  height: 71px;
  margin: 5px 12px 20px 5px;
}
/* line 317, ../sass/style.scss */
.b-news .b-some-news .b-item-news .b-item-news-e-title {
  line-height: 25px;
  text-decoration: underline;
  color: #343434;
  font-family: 'OpenSansBold';
  font-size: 13.3px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 324, ../sass/style.scss */
.b-news .b-some-news .b-item-news .b-item-text {
  font: 12.3px Arial;
  margin-bottom: 5px;
}
/* line 328, ../sass/style.scss */
.b-news .b-some-news .b-item-news .e-date {
  font: 12.3px Arial;
  color: #929292;
}

/* line 335, ../sass/style.scss */
.b-footer {
  width: 1097px;
  height: 62px;
  margin: -62px auto 0;
  border-top: 1px solid #e7e7e7;
}
/* line 340, ../sass/style.scss */
.b-footer > p {
  font-size: 13.3px;
  line-height: 70px;
}
