@import "compass/reset";

$width_block: 1200px;
$center: 0 auto;
$col-w: #fff;
$link-menu: #343434;
.clear {clear: both;}


.b-wrapp {
	width: $width_block;
	margin: $center;
	.b-header {
		background: $col-w;
		height: 90px;
		.e-logo {
			float: left;
			padding-top: 20px;
			width: 300px;
		}
		.b-menu {
			float: right;
			width: 590px;
			& li {
				display: inline-block;
				padding-right: 20px;
				& a {
					line-height: 90px;
					color: $link-menu;
					&:hover {
						text-decoration: none;
						color: #929292;
					}
				}

			}
		}
		.big-head {
			background: url(../i/big.png);
			background-position: top center;
			width: $width_block;
			height: 486px;
		}
	}
}
 
