@import "compass/reset";

/* ---------- FONT ---------- */ 

@font-face {    
    font-family:  'OpenSansBold';
    src:  url('opensans-bold.eot');
    src:  url('opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold.woff') format('woff'),
         url('opensans-bold.ttf') format('truetype');
    font-weight:  bold;
    font-style:  normal;
}


@font-face {    
    font-family:  'OpenSansCondensedLight';
    src:  url('opensans-light.eot');
    src:  url('opensans-light.eot?#iefix') format('embedded-opentype'),
         url('opensans-light.woff') format('woff'),
         url('opensans-light.ttf') format('truetype'),
         url('opensans-light.svg#OpenSansCondensedLight') format('svg');
    font-weight:  normal;
    font-style:  normal;
}


@font-face {
    font-family:  'OpenSansItalic';
    src:  url('opensans-italic.eot');
    src:  url('opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic.woff') format('woff'),
         url('opensans-italic.ttf') format('truetype');
    font-weight:  normal;
}



$width_block: 100%;
$big_title: 54px;
$title: 33px;
$text: 13.3px;
$center: 0 auto;
.left {margin-left: 4% !important;}
$col-w: #fff;
$col-gr: #5e5e5e;
$col-bl: #06aded;
$link-menu: #343434;


@mixin height() {
	height: 100%;
	min-height: 100%;
}

@mixin center-block() {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
@mixin i-wh-all(){
	width: 312px;
	height: 312px;
	position: relative;
}

@mixin link_up_text() {
	font-family: 'OpenSansBold';
	font-size: $text;
	text-transform: uppercase;
	font-weight: bold;
}
@mixin namber() {
	padding: 2px 0 3px 14px; 
	background: url(../i/ico_namber.png);
	background-position: left center;
	background-repeat: no-repeat;
}
@mixin place() {
	padding: 2px 0 3px 14px; 
	background: url(../i/ico_place.png);
	background-position: left center;
	background-repeat: no-repeat;
}
@mixin trans($trans) {
	transition: $trans; 
	-moz-transition: $trans;
	-webkit-transition: $trans;
}
@mixin clear() {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

html {
	@include height;
}

body {
	font-family:  'OpenSansCondensedLight';
	@include height;
}
.b-wrapper {
	width: $width_block;
	margin: $center;
	max-width: 1200px;
	@include height;
}
	.b-header {
		background: $col-w;
		&:after {
			@include clear;
		}
	}
		.i-header {
			height: 90px;
			background: $col-w;
			width: 100%;
			z-index: 1000;
			max-width: 1200px;
			box-shadow: 0px 5px 10px -8px;
			@include trans(0.4s);
			&:after {
			@include clear;
		}
		}
		.e-logo {
			float: left;
			margin: 16px 0 0 4%;
			width: 255px;
		}
		.b-menu-horiz {
			float: right;
			width: 475px;
			margin-right: 4%;
			.b-info {
				height: 45px;
					.b-info-e-namber {
						@include namber;
						color: $link-menu;
						font-size: $text;
						line-height: 60px;
						margin-right: 12px;
					}
					.b-info-e-place {
						@include place;
						color: $link-menu;
						font-size: $text;
						line-height: 60px;
					}
			}
			.b-menu-e-list {
				height: 45px;
			}
			.e-list-item {
				display: inline-block;
				padding-right: 25px;
			}
				.e-list-item-link {
					line-height: 25px;
					color: $link-menu;
					@include link_up_text;
					&:hover {
						text-decoration: none;
						color: #929292;
					}
				}
		}	
		.b-video {
			background: url(../i/b-video.png);
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			width: $width_block;
			height: 486px;
			position: relative;
		}
			.b-video-e-text {
				width: 41%;
				border-bottom:1px solid $col-bl ;
				padding: 45px 0 5px 0;
				margin: 0 4%;
			}
				.b-video-e-text-link {
					font-family: sans-serif, Arial;
					font-size: 16px;
					text-transform: uppercase;
					font-weight: bold;
					color: $col-bl;
					text-decoration: none;
				}
			.b-video-title {
				font-size: 52px;
				color: $col-w;
				margin-bottom:  20px;
			}
			.b-batton-play {
				width: 312px;
				height: 312px;
				border-radius: 50%;
				background: rgba(95, 95, 95, .45);
				@include center-block;
				
				.i-rel-wh-all {
					@include i-wh-all;
						
						.e-cyrcle-min {
							width: 149px;
							height: 149px;
							border-radius: 50%;
							background: rgba(95, 95, 95, .45) url(../i/e-video-but.png);
							background-repeat: no-repeat;
							background-position: center center;
							@include trans(0.4s);
							@include center-block;
							cursor: pointer;

							&:hover {
								width: 199px;
								height: 199px;
								background: rgba(95, 95, 95, .45) url(../i/e-video-but-hover.png);
								background-repeat: no-repeat;
								background-position: center center;
								@include trans(0.4s);
							}
						}
				}
			}
	.b-content {
		padding-bottom: 62px;
		//height: 80%;
		&:after {
			@include clear;
		}
	}
		.e-title {
			color: $col-bl;
			font-size: $title;
		}
		
		.b-type {
			padding: 45px 0;
			margin: 0 4%; 
			.i-all-types {
				overflow: hidden;
				height: 260px;
				margin: 20px auto;
				&:after {
					@include clear;
				}

				.e-item-type {
					width: 23%;
					height: 255px;
					text-align: center;
					float: left;
					margin-right: 2.5%;
					background: url(../i/cyrcle.png);
					background-position: top center;
					background-repeat: no-repeat;
					cursor: pointer;
					&:nth-child(2) a div img {
						max-width: 110px !important;
					}
					&:nth-last-child(1) {
						margin-right: 0;
					}
					img {
						max-width: 170px;
						width: 100%;
					}
					&:hover {
						background: url(../i/cyrcle-hover.png);
						background-position: top center;
						background-repeat: no-repeat;
					}
					.e-type-text {
						text-align: center;
						width: 165px;
						margin: 20px auto 0;
					}

					.e-type-text-link {
						color: #929292;
						@include link_up_text;

					}

					.e-img-types {
						height: 151px;
						position: relative;
						.e-img-types-img {
							@include center-block;
						}
					}
				}
			}
		}
		.b-map {
			width: $width_block;
			height: 397px;
			background: #545454 url(../i/map_bg.png);
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			.b-map-info {
				margin: 0 30px;
				width: 329px;
				height: 300px;
				padding: 10px 22px;
				border-bottom: 3px solid $col-bl;
				background: $col-w;
				.b-map-title {
					@extend .e-title;
					margin: 0 0 10px 0;
				}

			}
		}
		.b-news {
			padding: 45px 4%;
			.b-news-title {
				@extend .e-title;
				margin: 10px 0 25px;
			}
			.b-some-news {
				&:after {
					@include clear;
				}
				.b-item-news{
					width: 32%;
					float: left;
					margin-right: 2%;
					&:nth-last-child(1) {
						margin-right: 0 !important;
					}
					& a {						
						text-decoration: none;
					}

					img {
						float: left;
						width: 71px;
						border-radius: 70%;
						height: 71px;
						margin: 0 2% 12% 0%;
					}

					.b-item-news-e-title{
						line-height: 25px;						
						text-decoration: underline;
						color: $link-menu;
						@include link_up_text;						

					}
					.b-item-text {
						font: 12.3px Arial;
						margin-bottom: 5px;
						color: #929292;
					}
					.e-date {
						font: 12.3px Arial;
						color: #929292;
					}
				}
			}
		}
	.b-footer {
		width: 92%;
		height: 62px; 
		margin: -62px auto 0;
		border-top: 1px solid #e7e7e7;
		> p {
			font-size: $text; 
			line-height: 70px;
		}

	}



/*   PRODYCT PAGE    */


/*   SLIDER   */
#content {
width:92%;
margin:100px auto 0;
}
.slider {
	float:left;
	width:100%;
	height:491px;
	position:relative;
	padding-bottom:26px;
}
.sliderContent {
	float:left;
	width:100%;
	height:491px;
	clear:both;
	position:relative;
	overflow:hidden;
}
.sliderArrows a {
	display:block;
	text-indent:-9999px;
	outline:none;
	z-index:50;
	background-image:url(../i/prev_next.png);
	width:29px;
	height:59px;
	position:absolute;
	top:50%;
	margin-top:-34px;
	opacity: 0.3;
	@include trans(0.5s);
}
.prev {
	background-position:0 0;
	left:15px;
}
.next {
	right: 25px;
	background-position: -57px 0;
}
.prev:hover {
	opacity: 1;
	@include trans(0.5s);
}
.next:hover {
	opacity: 1;
	@include trans(0.5s);
}
.sliderContent .item {
	position:absolute;
	width:100%;
	height:491px;
	background:#fff;
}
.sliderBullets {
	display: none;
}
.b-slider {
	width: 92%;
	margin: 24px auto;
	height: 491px;
}
.b-slider-e-title {
	font-size: $big_title;
	color: $col-bl;
	margin: 30px 0 25px 0;
}
/* slider end*/

.b-type-left-bar {
	width: 18%;
	float: left;
	margin-top: 0;
	padding-top: 0;
	
	@extend .b-type;
		.i-all-types {
				overflow: hidden;
				height: auto;
				margin: 0 0 20px 0;
				&:after {
					@include clear;
				}

				.e-item-type {
					width: 120px;
					height: 150px;
					float: none;
					margin-right: 2.5%;
					background: none;
					cursor: pointer;
					&:nth-child(2) a div img {
						max-width: 60px !important;
					}
					&:nth-last-child(1) {
						margin-right: 0;
					}
					img {
						max-width: 100px;
						width: 100%;
					}
					&:hover {					 	
					 	background: none;
					 	.e-type-text a {
					 		color: $col-bl;
					 		text-decoration: none;
					 	}
					}
					.e-type-text {
						text-align: center;
						width: 105px;
						margin: 0 auto 0;
					}

					.e-type-text-link {
						color: #929292;
						@include link_up_text;

					}

					.e-img-types {
						height: 101px;
						position: relative;
						background: url(../i/cyrcle_mini.png);
						background-position: center;
						background-repeat: no-repeat;
						.e-img-types-img {
							@include center-block;
						}
					}
				}
			}


}

	.b-type-left-fix {
		width: 250px;
		position: fixed;
		padding-left: 0;
		top: 64px;
		@include trans(0.5s)
	}
.b-product-content {
	width: 69%;
	padding-right: 5%;
	padding: 20px 5% 45px 0;
	float: right;
	position: relative;
	li {
		margin: 20px 0 5px 10px;
		list-style-image: url(../i/list_style_top.png);
		list-style-position: inside;
		& ul li {
			list-style-image: url(../i/list_style_bot.png);
			padding-left: 20px;
		}
	}
	.b-product-img {
			width: 100%;
			padding: 15px 0 5px 20px;
			img {
				display: inline-block;
				margin-right: 20px;
			}
	}
	
}
.b-product-title {
	color: $col-gr;
	font-size: $title;
}
.active_left_link {
	color: $col-bl !important;
	text-decoration: none;
}
/*   product end*/

/*   PHOTO VIDEO   */

.b-content-photo {
	width: 92%;
	margin: 20px auto 80px;
	&:after {
		@include clear;
	}
}
.b-menu-photo {
	display: block; margin-bottom: 20px;
}
.e-blue-list {
	display: inline-block;
	margin-right: 15px;
}
.e-link-blue {
	text-transform: uppercase;
	color: $col-w;
	padding: 5px 11px;
	font-size: 11.5px;
	text-decoration: none;
	background: $col-bl;
	&:hover {
		background: none;
		color: $col-bl;
	}
}
.e-link-gallery {
	margin-right: 22px;

	&:nth-child(4n+6) {
		margin-right: 0 !important;
	}
	&:hover {
		.e-img-gallery {
			border: 5px solid $col-bl;
		}
	}
}
.e-img-gallery {
border: 5px solid #e4e4e4;
margin-bottom: 22px;
}

/*  sertification  */
.b-type-left-docs {
 	@extend .b-type-left-bar;
 .e-img-types-img {width: 65px !important; }

}

 .b-docs {
 	h1 {margin-bottom: 24px;}
 	.e-link-gallery {
	margin-right: 22px;

	&:nth-child(4n+6) {
		margin-right: 22px !important;
	}
	&:hover {
		.e-img-gallery {
			border: 5px solid $col-bl;
		}
	}
}
}

.b-news-text {
		
	img {
		margin-bottom: 20px;
	}
	p {
		padding-right: 60px;
		margin-bottom: 10px;
	}
	.e-link-toall-news {
		line-height: 25px;
					color: $link-menu;
					text-decoration: none;
					@include link_up_text;
					&:hover {						
						color: #929292;
					}
	}
}


.b-news-all {
		.b-some-news {
				&:after {
					@include clear;
				}
				.b-item-news{
						width: 97%;
						float: none !important;
						margin-right: 2%;
						margin-bottom: 25px;
					&:nth-last-child(1) {
						margin-right: 0 !important;
					}
					& a {						
						text-decoration: none;
					}

					img {
						float: left;
						width: 71px;
						border-radius: 70%;
						height: 71px;
						margin: 0 2% 0 0%;
					}

					.b-item-news-e-title{
						line-height: 25px;						
						text-decoration: underline;
						color: $link-menu;
						@include link_up_text;						

					}
					.b-item-text {
						font: 12.3px Arial;
						margin-bottom: 5px;
						color: #929292;
					}
					.e-date {
						font: 12.3px Arial;
						color: #929292;
					}
				}
			
		}
}